<div>
    <table class="mx-6">
      <thead>
        <tr class="has-text-centered">
          <th class="px-2 py-2">ID</th>
          <th class="px-2 py-2">Title</th>
          <th class="px-2 py-2">Author</th>
          <th class="px-2 py-2">Description</th>
          <th class="px-2 py-2">Image</th>
          <th class="px-2 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (book of books; track book.id)
        {
            <tr class="has-text-centered">
                <td class="px-2 py-2">{{ book.id }}</td>
                <td class="px-2 py-2">{{ book.bookName }}</td>
                <td class="px-2 py-2">{{ book.author }}</td>
                <td class="px-2 py-2">{{ book.description }}</td>
                <td class="px-2 py-2"><img class="image is-64x64" [src]="book.image" alt="{{ book.bookName }}" /></td>
                <td class="px-2 py-2">
                    <button (click)="deleteBook(book.id)">Delete</button>
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  <button id="invisible_helper" [class]="max_id.toString()"> </button>