<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <figure class="image is-64x64">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Book-icon-bible.png/600px-Book-icon-bible.png?20201013125426" alt="book">
        </figure>
        <a class="navbar-item" href="#featured_books_section">Featured Books</a>
        <a class="navbar-item" href="#book_list_section">Book List</a>
        <a class="navbar-item" href="#add_book_section">Add Book</a>
        <a class="navbar-item" href="#update_book_section">Update Book</a>
        <a class="navbar-item" href="#contact_section">Contact</a>
    </div>
</nav>
