<div>
  @if(add_book_bool)
  {
    <h1 class="title is-5">Add Your Own Books To The Book List</h1>
  } @else {
    <h1 class="title is-5">Update A Book In The Book List</h1>
  }

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      @if(!add_book_bool)
      {
        <div class="control fifty m-2">
          <label class="label" for="input_id">ID</label>
          <input class="input" type="number" id="input_id" formControlName="id" placeholder="Enter the ID of the book" required />
          @if(idValErr()) { <span>Incorrect Input (Id)</span> }
        </div>
      }
      <div class="control fifty m-2">
        <label class="label" for="input_title">Title</label>
        <input class="input" type="text" id="input_title" formControlName="title" placeholder="Enter the name of the book" required />
        @if(titleValErr()) { <span>Incorrect Input (Title)</span> }
      </div>
      <div class="control fifty m-2">
        <label class="label" for="input_author">Author</label>
        <input class="input" type="text" id="input_author" formControlName="author" placeholder="Enter the name of the author" required />
        @if(authorValErr()) { <span>Incorrect Input (Author)</span> }
      </div>
      <div class="control m-2">
        <label class="label" for="input_description" >Description</label>
        <textarea class="textarea" id="input_description" formControlName="description" placeholder="Describe the book and why someone should read it."></textarea>
      </div>
  
      <div class="control m-2">
          <button class="button is-link">Add Book</button>
      </div>
    </form>
  </div>