<app-navbar/>
<div >
	<h1 class="title"> Welcome to My Online Bookstore</h1>
</div>
<app-section heading="Featured Books">
	<app-featured book_name="Harry Potter and the Sorcerer's Stone" author_name="Jk Rowling" image_source="Images/hp1.jpg">
		<!-- https://ppld.org/book-reviews/harry-potter-and-sorcerers-stone-8 -->
		<p> 
            For people who want to enjoy an intriguing, fast paced novel, Harry Potter and the Sorcerer's Stone is the perfect book to read. 
            It keeps you involved throughout the book as most chapters have cliffhangers at the end. 
            This novel is the first of the seven famous Harry Potter books by J.K. Rowling.
        </p>
		<p>
			The book is about 11 year old Harry Potter, who receives a letter saying that he is invited to attend Hogwarts, school of witchcraft and wizardry. 
			He then learns that a powerful wizard and his minions are after the sorcerer's stone that will make this evil wizard immortal and undefeatable. 
			Harry decides to go after the sorcerer’s stone before the wizard reaches it, but his loyal friends, Hermione and Ron don't let Harry face this danger alone.
		</p>
		<p>
			This book is full of fantasies and imagination like at one point, Harry Potter is asked to catch a flying golden ball while flying on his broomstick. 
			Eventually Harry Potter stands on his broomstick and tries to reach for the ball, but he falls off the broomstick in a very tense moment. 
			He unexpectedly throws up the golden ball winning the game for his team.
		</p>
	</app-featured>

	<app-featured book_name="The Carpet People" author_name="Terry Pratchett" image_source="Images/tp5.jpg">
		<!-- https://en.wikipedia.org/wiki/The_Carpet_People#:~:text=The%20Carpet%20People%20is%20a,more%20widespread%20and%20well%2Dknown. -->
		<p> 
            The Carpet People is a comic fantasy novel by British writer Terry Pratchett. First published in 1971 and written when Pratchett was 17 years old, 
			it was later re-written by the author when his work became more widespread and well-known.
        </p>
		<p>
			The book explores the conflict between traditions and innovation. There is an established civilization, complete with bureaucrats, taxes imposed and collected, and permits; 
			there are people who resent the establishment; there is a need for both groups to find common ground in order to save their collective civilization.
		</p>
	</app-featured>

	<app-featured book_name="Uzumaki: Spiral into Horror" author_name="Junji Ito" image_source="Images/ji8.jpeg">
		<!-- https://en.wikipedia.org/wiki/Uzumaki -->
		<p> 
            Uzumaki is a Japanese horror manga series written and illustrated by Junji Ito. The series tells the story of the citizens of Kurouzu, a fictional city 
			which is plagued by a supernatural curse involving spirals. The story for Uzumaki originated when Ito attempted to write a story about people living 
			in a very long terraced house, and he was inspired to use a spiral shape to achieve the desired length. Ito believes the horror of Uzumaki is effective 
			due to its subversion of symbols which are positively portrayed in Japanese media, and its theme of protagonists struggling against a mysterious force 
			stronger than themselves. Uzumaki continues to receive critical acclaim, deemed by many as Ito's magnum opus.
        </p>
	</app-featured>
</app-section>

<app-section heading="Book List">
	<app-book-list></app-book-list>
</app-section>
<app-section heading="Contact">
</app-section>