<div class="card">
    <!-- <div class="card-image">
      <figure class="image is-4by3">
        <img
          [src]="image_source"
          [alt]="image_alt"
        />
      </figure>
    </div> -->
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{book_name}}</p>
          <p class="subtitle is-6">{{author_name}}</p>
        </div>
      </div>
  
      <div class="content">
        <p> 
            For people who want to enjoy an intriguing, fast paced novel, Harry Potter and the Sorcerer's Stone is the perfect book to read. 
            It keeps you involved throughout the book as most chapters have cliffhangers at the end. 
            This novel is the first of the seven famous Harry Potter books by J.K. Rowling.
        </p>
      </div>
    </div>
  </div>
  